@media only screen and (max-width: 500px){
	}

.top-nav {
	background-color: #fff;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #DDD;
	vertical-align: baseline;
	box-sizing: border-box;
	margin: 0px;
	
}
.logo {
	position: relative;
	padding-top: 10px;
	margin-left: 300px;
}

.top-nav .content {
	height: 90px;
	margin: 0 auto;
	padding-right: 70px;
	padding-left: 30px;
	box-sizing: border-box;
}

.top-nav .links {
	float: right;
	color: #002954;
	font-size: 18px;
	margin-top: 40px;
	margin-right: 50px;
	padding-left: 100px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Josefin Sans', sans-serif;
}

.top-nav .links li { 
	display: inline-block;
	margin-left: 90px;
	padding-top: 0px;
}

/*Introduction*/

.image {
  	background-image: url("http://alqueria.cl/bg/images/image1.jpg");
	height: 700px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.image h1, h3 {
	padding-top: 250px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	width: 100%;
	}

.image h1 {
	font-size: 75px;
	text-transform: uppercase;
	margin: 0;
}

.image h3 {
	padding-top: 15px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

/*About Me*/

.about-me {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;

}

.about-me h1 {
	-webkit-font-smoothing: antialiased;
	color: #800000;
	text-transform: uppercase;
	margin-top: 50px;
}

.about-me p {
	padding: 0 100px;
	font-size: 18px;
	color: #002954;
	padding-top: 20px;

}


/*Projects Section*/

.projects {
	text-align: center;
}

.projects h1 {
	font-family: 'Josefin Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #800000;
	text-transform: uppercase;
	padding-top: 30px;
	
}

h4 {
	color: #002954;
	font-size: 16px;
}

.work {
	padding: 0;
}

.work li {
	list-style: none;
	padding-top: 20px;
	padding-left: 10px;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;

}

/* footer section */

.content-footer {
	margin-top: 5em;
	text-align: center;
	color: #fff;
	background-color: #800000;
	padding: 20px;
	text-align: center;
}

.social li {
	list-style: none;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

a {
	color: #fff;
}

a:hover {
	color: blue;
}

.social {
	padding: 0;
}